/* Header styles */
.header {
  background-color: #fd6e46;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: #ff9376;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-username {
  margin-right: 10px;
}

.logout-button {
  background-color: #fd6e46;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ff9376;
}

/* Card styles */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.card-header {
  background-color: #f0f0f0;
  color: #666;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
}

.card-body {
  background-color: #fafafa;
  padding:10px;
}

.card-text {
  margin: 1;
}

.card-footer {
  background-color: #f0f0f0;
  text-align: end;
  color: #666;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0px;
}

/* Button styles */
.button {
  background-color: #fd6e46;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff9376;
}

/* Center content styles */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  min-width: 600px;
  padding: 20px;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* Star styles */
.filled-star {
  color: rgb(237, 188, 64);
  font-size: 13px; 
}

.empty-star {
  color: #bbbbbb; 
  font-size: 13px; 
}

