/* Header styles */
.header {
  background-color: #bb3547;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
}

.nav-link:hover {
  text-shadow: #fff 1px 0 7px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-user {
  margin-right: 10px;
  font-size: 11px;
  max-width: 125px;
  display: flex;
  align-items: center;
}

/* Card styles */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.card-header {
  background-color: #fafafa;
  color: #666;
  padding: 10px;
  padding-left: 30px;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
}

.card-body {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 8px;
}

.card-text {
  margin: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.card-footer {
  background-color: #fafafa;
  text-align: end;
  color: #666;
  padding: 5px;
  /* border-top: 1px solid #ccc; */
  padding-right: 30px;
  border-radius: 0 0 8px 8px;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0px;
}

/* Button styles */
.button {
  background-color: #bb3547;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #d02a40;
}

.page-button {
  background-color: #bb3547;
  color: #fff;
  padding: 10px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.page-button:hover {
  background-color: #d02a40;
}

.page-button:disabled {
  opacity: 0.5;  
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.book-button {
  background-color: #4ba758;
  color: #fff;
  font-size: 14.5px;
  padding: 7px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
}

.book-button:hover {
  background-color: #54b761;
 /*  font-size: 16px;
  padding: 6px 22px; */
}

.cancel-button {
  background-color: #fafafa;
  color: #831313;
  padding: 5px 17.5px;
  border: 1.5px solid #831313;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 7px;
}

.cancel-button:hover {
  background-color: #831313;
  color: #fafafa;
}

.back-button {
  background-color: #fafafa;
  color: #666666;
  font-size: 16px;
  padding: 6px 10.5px;
  border: 1.5px solid #a0a0a0;
  border-radius: 20px;
  cursor: pointer;
  margin-top: -2px;
  margin-bottom: 13.5px;
}

.back-button:hover {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
  color: #fafafa;
}

.auth-button {
  background-color: #bb3547;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 14.5px;
}

.auth-button:hover {
  background-color: #d02a40;
}

.header-auth-button {
  background-color: #bb3547;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 6px;
  cursor: pointer;
  font-size: 12px;
}

.header-auth-button:hover {
  text-shadow: #fff 1px 0 7px;
}

.logout-button:hover {
  box-shadow: #ffffff56 0px 0 7px;
}

/* Center content styles */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  gap: 5px;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.container-spaced {
  display: flex;
  justify-content: space-between;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.btn-container-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* Form styles */
.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group label {
  font-size: small;
  padding-bottom: 5px;
}

.search-form {
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .search-form {
    flex-direction: column;
  }
}

label {
  font-size: small;
  display: block;
  margin: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Star styles */
.filled-star {
  color: rgb(237, 188, 64);
  font-size: 13px; 
}

.empty-star {
  color: #bbbbbb; 
  font-size: 13px; 
}

/* Text styles */
.centered-text {
  text-align: center;
  margin-bottom: 30px;
}

.warning {
  font-size: 12px;
  color: darkred;
  min-height: 14px;
  padding: 5px;
}

/* Picker styles */
.react-datepicker__day--selected {
  background-color: #cd6f7c !important;
  color: #fff !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: #bb3547 !important;
  color: #fff !important;
}

.picker {
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
  color: rgb(51, 51, 51);
  outline-color: #bb3547;
}

/* Popup overlay styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s ease;
}

.popup-overlay.open {
  opacity: 1; 
  pointer-events: auto; 
}

/* Popup content styles */
.popup-content {
  background-color: #f3f3f3;
  padding-top: 30px;
  padding-right: 40px;
  padding-left:  40px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative; 
  max-width: 200px;
  margin: 0 auto;
  top: -15%;
}

