/* Header styles */
.header {
  background-color: #fd6e46;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: #ff9376;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-username {
  margin-right: 10px;
}

.logout-button {
  background-color: #fd6e46;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ff9376;
}

/* Card styles */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.card-header {
  background-color: #f0f0f0;
  color: #666;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
}

.card-body {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 8px;
}

.card-text {
  margin: 1;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.card-footer {
  background-color: #f0f0f0;
  text-align: end;
  color: #666;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0px;
}

/* Button styles */
.button {
  background-color: #fd6e46;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff9376;
}

.page-button {
  background-color: #fd6e46;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.page-button:disabled {
  opacity: 0.5;  
  pointer-events: none;
}

/* Center content styles */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  gap: 5px;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.container-spaced {
  display: flex;
  justify-content: space-between;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.btn-container-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* Form styles */
.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group label {
  font-size: small;
  padding-bottom: 5px;
}

.search-form {
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .search-form {
    flex-direction: column;
  }
}

/* Star styles */
.filled-star {
  color: rgb(237, 188, 64);
  font-size: 13px; 
}

.empty-star {
  color: #bbbbbb; 
  font-size: 13px; 
}

/* Text styles */
.centered-text {
  text-align: center;
  margin-bottom: 30px;
}

.warning {
  font-size: 12px;
  color: darkred;
  min-height: 14px;
  padding: 5px;
}

/* Picker styles */
/* .react-datepicker__day--selected {
  background-color: #fd6e46;
}

.react-datepicker__day--in-selecting-range {
  background-color: #fd6e46;
}

.react-datepicker-field__active--start {
  background-color: #fd6e46;
} */

.picker {
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
  color: rgb(51, 51, 51);
  outline-color: #fd6e46;
}
